## Clean / Transform the data to create the final DF we will use for training models

### Currrently its just a series of transforms but we can turn it into a function once we are done with all the transforms

In [47]:
import pandas as pd

combine the three user data dataframes into one

In [89]:
userDataDFPartition1 = pd.read_pickle('data/user_data_0_30000.pkl')
userDataDFPartition2 = pd.read_pickle('data/personal_finance_user_data_30000_60000.pkl')
userDataDFPartition3 = pd.read_pickle('data/personal_finance_user_data_60000_end.pkl')

userDataFullDF = pd.concat([userDataDFPartition1, userDataDFPartition2, userDataDFPartition3])

combine user data with post data in the training set

In [97]:
postDF = pd.read_pickle('Data/train.pkl')
trainDF = postDF.reset_index(drop=True).merge(userDataFullDF.reset_index(drop=True), left_index=True, right_index=True)

In [98]:
trainDF.sample(5)

,id,author,title,selftext,time,date,score,num_comments,Author,Created,nComments,medianCommentScore,maxCommentScore,nSubmissions,medianSubmissionScore,maxSubmissionScore
105261,pjyk3i,MrOrangeWhips,"Moved to a new city, how to juggle getting a n...",The situation is fairly simple: I just moved t...,19:21:55,2021-09-07,0,5,MrOrangeWhips,1585502587.0,0,NA,NA,67,61.0,5942
25091,l9taow,Jcorb,"Unsure if I'm being complacent, if I'm in a go...","Alright, so I live just outside DC. I make 64k...",22:09:27,2021-01-31,2,14,Jcorb,1366869246.0,0,NA,NA,0,NA,NA
83729,lx83f6,SSide67,FCA Settlement Check to IRA - How to handle?,Just got a settlement check from Fiat Chrysler...,19:10:03,2021-03-03,2,2,SSide67,1593806276.0,6,1.5,3,2,437.5,547
86962,lclvxv,mgibbonsjr,VA State Taxes for Permanent Remote Work in Fl...,I was hired on as a permanently remote wage ea...,13:09:20,2021-02-04,2,4,mgibbonsjr,1315418487.0,6,3.0,19,26,1.0,21
81663,jz7o8j,A_Hale,In college with large income and no debt. What...,[removed],20:04:10,2020-11-22,1,2,A_Hale,1583796243.0,0,NA,NA,8,5.5,197

Just to confirm the merge worked as expected we check if the Author cols from user and post data line up

In [99]:
assert trainDF['Author'].equals(postAndUserDF['author'])

In [100]:
trainDF.drop('Author', axis=1, inplace=True)

In [101]:
trainDF.head()

,id,author,title,selftext,time,date,score,num_comments,Created,nComments,medianCommentScore,maxCommentScore,nSubmissions,medianSubmissionScore,maxSubmissionScore
0,n97ehm,weremanthing,Refinance my home to free up VA loan or wait?,First let me say thank you for looking at my p...,11:20:52,2021-05-10,1,2,1472827932.0,94,1.0,1871,39,3.0,25906
1,nzf89i,b1ackcat,Thank you for being such a great resource; you...,[removed],01:08:32,2021-06-14,1,2,1275529126.0,0,NA,NA,92,6.0,4888
2,mxntnt,runnerup,"401k vs 457b, not sure which to max first",My work has both the 401k and 457b plans. They...,12:50:32,2021-04-24,3,7,1255599762.0,0,NA,NA,0,NA,NA
3,lg8t6y,Bunburier,"Student Loans, Interest Rate, and Payment Stra...",I'll be attending graduate school soon. Tuitio...,12:44:56,2021-02-09,2,2,1500552768.0,0,NA,NA,74,2.0,490
4,obzx08,Mxnchkinz_,What do I put under Gross Income when applying...,I'm applying for a Discover Secured Credit Car...,21:27:28,2021-07-01,0,15,1598492054.0,29,1.0,3,44,1.5,42

Add additional Derived columns to use as features

In [105]:
trainDF['title_length'] = trainDF['title'].str.len()
trainDF['selftext_length'] = trainDF['selftext'].str.len()

In [114]:
trainDF.head()

,id,author,title,selftext,time,date,score,num_comments,Created,nComments,medianCommentScore,maxCommentScore,nSubmissions,medianSubmissionScore,maxSubmissionScore,title_length,selftext_length
0,n97ehm,weremanthing,Refinance my home to free up VA loan or wait?,First let me say thank you for looking at my p...,11:20:52,2021-05-10,1,2,1472827932.0,94,1.0,1871,39,3.0,25906,45,1119.0
1,nzf89i,b1ackcat,Thank you for being such a great resource; you...,[removed],01:08:32,2021-06-14,1,2,1275529126.0,0,NA,NA,92,6.0,4888,82,9.0
2,mxntnt,runnerup,"401k vs 457b, not sure which to max first",My work has both the 401k and 457b plans. They...,12:50:32,2021-04-24,3,7,1255599762.0,0,NA,NA,0,NA,NA,41,576.0
3,lg8t6y,Bunburier,"Student Loans, Interest Rate, and Payment Stra...",I'll be attending graduate school soon. Tuitio...,12:44:56,2021-02-09,2,2,1500552768.0,0,NA,NA,74,2.0,490,59,381.0
4,obzx08,Mxnchkinz_,What do I put under Gross Income when applying...,I'm applying for a Discover Secured Credit Car...,21:27:28,2021-07-01,0,15,1598492054.0,29,1.0,3,44,1.5,42,64,335.0